# Enable and run this with:
#   systemctl enable [% project.package_name %].timer
#   systemctl start [% project.package_name %].timer

[Unit]
Description=[% project.summary %]

[Timer]
Unit=[% project.package_name %].service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
