# Enable and run this with:
#   systemctl enable [% project.package_name %].timer
#   systemctl start [% project.package_name %].timer

[Unit]
Description=[% project.summary %]

[Timer]
Unit=[% project.package_name %].service

# ## Schedule style, Similar to cron
#
# Run every minute (useful for debugging)
# OnCalendar=*-*-* *:*:00
#
# Every 15 minutes:
# OnCalendar=*:0/15
#
# Every day at 07:00:
# OnCalendar=*-*-* 07:00:00
#
# ## Start after boot and run perodically:
# OnBootSec=10min
# OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
